/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@import "swiper/swiper.min.css";

@import "swiper/components/navigation/navigation.min.css";

@import url("./styles/ProductSwiper.css");

/* Radio Buttons */
.radio_custom:checked ~ label > div {
  border: 1px solid #2b2b2b;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
